{% extends 'home.html' %}
{% load static %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container text-left" style="max-width: 900px">
        <h1>Stop words</h1>
        <label for="ukraine_stopwords">
            <h5>Ukraine towns stop words:</h5>
        </label>
        <textarea name="ukraine_stopwords" style="min-height: 125px" class="form-control" id="ukraine_stopwords" rows="3">{{ukraine_stopwords}}</textarea><br>
        <hr>
        <label for="belorussia_stopwords">
            <h5>Belorussia town stop words:</h5>
        </label>
        <textarea name="belorussia_stopwords" style="min-height: 125px" class="form-control" id="belorussia_stopwords" rows="3">{{belorussia_stopwords}}</textarea><br>
        <hr>
        <label for="ukraine_stopwords">
            <h5>Russian towns stop words:</h5>
        </label>
        <textarea name="russia_stopwords" style="min-height: 125px" class="form-control" id="russia_stopwords" rows="3">{{russia_stopwords}}</textarea><br>
        <hr>
        <div class="form-group">
            
            {{ debug }}
        </div>
    </div>

    {% endblock %}
