{% extends 'home.html' %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <form action="{% url 'clasterizator' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <h1>Hand Keyword Clasterizator</h1>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{form.keywords}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{form.groups}}
                    </div>
                </div>
                <div class="col-12 text-center my-3">
                    <button type="submit" class="btn btn-success">Clusterize</button>
                </div>
                <div class="col-12 text-center my-3">
                    <textarea class="form-control" name="solve" id="solve" rows="10">
{% for keyword in new_keywords %}{{ keyword.keyword }}	{{ keyword.categorys }}
{% endfor %}
                    </textarea>
                </div>
            </div>
        </form>
        {{debug}}
    </div>
</div>

{% endblock %}