{% extends 'home.html' %}
{% block content %}
<style>
    label {
        font-weight: bold;
    }
</style>
<div class="container">
    <form action="{{ request.get_full_path }}" method="POST">
        <div class="row">
            {% csrf_token %}
            <div class="col-6">
                <div class="form-group">
                    <label for="keywords">Рекламная система:</label>
                    {{ form.search_engine }}
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="adcampaign">Кампания:</label>
                    {{ form.adcampaign }}
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="keywords">Ключевые слова:</label>
                    {{ form.keywords }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="urls">Группы:</label>
                    {{ form.adgroups }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="urls">Урлы:</label>
                    {{ form.urls }}
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="header_1_default">Заголовок 1 по умолчанию:</label>
                    {{ form.header_1_default }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="header_2_default">Заголовок 2 по умолчанию:</label>
                    {{ form.header_2_default }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> -->
                    {{ form.keyword_header_split }}
                    <label class="form-check-label" for="keyword_header_split">
                        Перенос части ключа в заголовок
                    </label>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="text_1_before">Перед ключом в тексте 1:</label>
                    {{ form.text_1_before }}
                </div>
                <div class="form-group">
                    <label for="text_1_before">После ключа в тексте 1:</label>
                    {{ form.text_1_after }}
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label for="text_1_before">Текст 2:</label>
                    {{ form.text_2_default }}
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="trusts">Разделитель:</label>
                    {{ form.trusts_delimeter }}
                </div>
            </div>
            <div class="col-10">
                <div class="form-group">
                    <label for="trusts">Трасты:</label>
                    {{ form.trusts }}
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fast_links_texts">Тексты быстрых ссылок:</label>
                    {{ form.fast_links_texts }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fast_links_urls">Адреса быстрых ссылок:</label>
                    {{ form.fast_links_urls }}
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Понеслась!</button>
            </div>
            <div class="col-12 mt-3">
                <div class="form-group">
                    <label for="result">Результат:</label>
                    <textarea name="result" rows=15 class="form-control" disabled>
{% for row in debug %}
{% for k,parameter in row.items %}{{ parameter }}	{% endfor %}{%endfor%}
                            </textarea>
                </div>
            </div>

        </div>
    </form>
</div>

{% endblock %}