{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container text-left" style="max-width: 900px">
        <h1>Make first letter capitalize</h1>
        <form method="post">
		{% csrf_token %}
            <div class="form-group">
                <label for="keywords"><h5>Put your keywords here:</h5></label>
                <textarea name="keywords" style="min-height: 250px" class="form-control" id="keywords" rows="3">{{basekeywords}}</textarea><br>
                <input class="btn btn-info" type="submit" name="Go" value="Run" id="Submit">
            </div>
        </form>
        <hr>
        <div class="form-group">
            <label for="out"><h5>Moddified keywords:</h5></label>
            <textarea class="form-control" style="min-height: 250px" name="out" >{% for word in keywords %}
{{word}}{% endfor%}</textarea>
        </div>
		{{debug}}
        
    </div>
</div>




{% endblock %}