{% extends 'home.html' %}
{% load static %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container text-left" style="max-width: 900px">
        <h1>Description generator</h1>

        <form method="POST">
                {% csrf_token %}
            <div class="form-group">
                <label for="keywords">
                    <h5>Paste your keywords here:</h5>
                </label>
                <textarea name="keywords" style="min-height: 125px" class="form-control" id="keywords" rows="3">{{ getKeywords }}</textarea><br>
                <label for="trusts">
                    <h5>Type your trusts here:</h5>
                </label>
                <textarea name="trusts" style="min-height: 125px" class="form-control" id="trusts" rows="3">{{ getTrusts }}</textarea><br>
                <label for="trusts">
                    <h5>Type some text before:</h5>
                </label>
                <input name="textBefore" class="form-control" id="textBefore" value="{{textBefore}}"><br>
                <label for="separator">
                    <h5>Choose trusts delimeter:</h5>
                </label>
                <select name="separator" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="separator">
                    <option value=", ">, </option>
                    <option value="; " selected>;</option>
                    <option value=" "> </option>
                </select><br><br>
                <label for="trusts">
                    <h5>Choose your description lenght:</h5>
                </label>
                <select name="maxSymbols" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="maxSymbols">
                    {% for option in options %}
                        <option {% if option == maxSymbols %}selected{%  endif %} value="{{option}}">{{option}}</option>
                    {% endfor%}
                </select><br><br>
                <input class="btn btn-info" type="submit" name="Run" value="Run" id="Submit">
            </div>
        </form>
        <hr>
        <div class="form-group">
            <label for="out">
                <h2>Descriptions:</h2>
            </label>
            <textarea disabled class="form-control" style="min-height: 200px" name="out">{% for keyword in result %}{{keyword}}
{% endfor%}</textarea>
</div>
    </div>

    {% endblock %}