{% extends 'home.html' %}
{% load static %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container text-center">
        <h1>Contact us. You wont regret </h1>
        <form>
            <div class="form-group">
                    <label for="contact">e-mail, vk, fb, telegram, WatsApp etc:</label>
                    <input name="contact" class="form-control" id="keywords" rows="3">
                    <br>
                    <label for="keywords">Your massage...:</label>
                    <textarea name="keywords" class="form-control" id="keywords" rows="3"></textarea>
            </div>
        </form>
    </div>
</div>




{% endblock %}

