{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{description}}">
    <meta name="author" content="Bobro">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static 'my.css' %}" rel="stylesheet">
</head>


<body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">Descripton</h4>
                        <p class="text-muted">Hi there. There are some usefull services for SEO & Context ADS stuff.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li><a href="{% url 'registerManager' %}">registerManager</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                    <i class="fas fa-kiwi-bird">&nbsp;</i> <strong>SEO tools </strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">
        {% block content %}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">SEO tools</h1>
                <p class="lead text-muted">If you are internet-marketer u can find some usefull sruff here</p>
                <p>
                    <a href="{% url 'contact' %}" class="btn btn-primary my-2">Order SEO</a>
                    <a href="{% url 'contact' %}" class="btn btn-secondary my-2">Order CA</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <span class="h3 my-3 text-center"><a href="{% url 'registerManager' %}">Register
                                    manager</a></span>
                            <img class="card-img-top" src="{% static 'regexmanager.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Register Manager — if you whant to manage your register</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="{% url 'registerManager' %}">Browse</a>
                                    </div>
                                    <small class="text-muted">#seo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <span class="h3 my-3 text-center"><a href="{% url 'descriptionGenerator' %}">Description
                                    Generator</a></span>
                            <img class="card-img-top" src="{% static 'descriptiongenerator.jpg' %}"
                                alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Description generator - create description and fill it with your
                                    trusts</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="{% url 'descriptionGenerator' %}">Browse</a>
                                    </div>
                                    <small class="text-muted">#seo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <span class="h3 my-3 text-center"><a href="{% url 'titleGenerator' %}">Title
                                    Generator</a></span>
                            <img class="card-img-top" src="{% static 'titlegenerator.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Use best keywords to craete a title</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="{% url 'titleGenerator' %}">Browse</a>
                                    </div>
                                    <small class="text-muted">#seo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <span class="h3 my-3 text-center"><a href="{% url 'titleGenerator' %}">Stop Words Lists
                                </a></span>
                            <img class="card-img-top" src="{% static 'stopwords.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Universal Stop Words</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="{% url 'StopWords' %}">Browse</a>
                                    </div>
                                    <small class="text-muted">#seo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <span class="h3 my-3 text-center"><a href="{% url 'adsgen' %}">Ads Generatot
                                </a></span>
                            <img class="card-img-top" src="{% static 'hhivp.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">Use this tools to generate ADS in Google Ads & Yandex Direct</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'adsgen' %}">Browse</a>
                                    </div>
                                    <small class="text-muted">#seo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <span class="h3 my-3 text-center"><a href="{% url 'clasterizator' %}">Keyword Clasterizator
                                </a></span>
                            <img class="card-img-top" src="{% static 'clasterizator.jpg' %}" alt="Clasterizator">
                            <div class="card-body">
                                <p class="card-text">Split you keywords to the groups using the map words</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary"
                                            href="{% url 'clasterizator' %}">Browse</a>
                                    </div>
                                    <small class="text-muted">#seo</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% endblock %}
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>© July 2017 - {% now "F Y" %} Mikhail Bobro</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>