{% extends 'home.html' %}
{% load static %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container text-left" style="max-width: 900px">
        <h1>Title generator</h1>

        <form method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="keyphrases">
                    <h5>Paste your keyphrases here:</h5>
                </label>
                <textarea name="keyphrases" style="min-height: 125px" class="form-control" id="keyphrases" rows="3">{{ getkeyphrases }}</textarea><br>
                <label for="trusts">
                    <h5>Choose length:</h5>
                </label>
                <select name="maxSymbols" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="maxSymbols">
                    {% for option in options %}
                    <option {% if maxSymbols == option %}selected{% endif %} value="{{option}}">{{option}}</option>
                    {% endfor%}
                </select><br><br>
                <input class="btn btn-info" type="submit" name="Run" value="Run" id="Submit">
            </div>
        </form>
        <hr>
        <div class="form-group">
            
            <h2>Title</h2>
            <input type="text" class="form-control" value="{{ generatedTitle }}"><br>
            <h2>Normal Keyword's:</h2>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>keyword</th>
                        <th>count()</th>
                    </tr>
                </thead>
                <tbody>
                {% for normalKeyword in normalKeywords %}
                <tr>
                    <td>{{normalKeyword.0}}</td>
                    <td>{{normalKeyword.1}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ debug }}
        </div>
    </div>

    {% endblock %}

    Ленина